
<%= form_for(@variety) do |f| %>
	<% if @variety.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variety.errors.count, "error") %> prohibited this variety from being saved:</h2>

      <ul>
      <% @variety.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	name <%= f.text_field:name %>
	desc <%= f.text_field:description %>
	<%= f.submit %>
<% end %>