1. <% @variabel %> -> ga muncul <br>
2. <%= @variabel %> -> muncul <br>
<br>
<%=link_to 'new', new_variety_path %>
<%=link_to 'edit', edit_variety_path(1) %>
<%=link_to 'show', variety_path(1) %>
<br>
<% @varieties.each do |variety| %>
<%= variety.name %>
<% end %>
