
<%= form_for(@product) do |f| %>
	<% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	name <%= f.text_field:name %>
	desc <%= f.text_field:description %>
	stock <%= f.text_field:stock %>
	price <%= f.text_field:price %>

	Variety <%= f.text_field:variety_id %>	
	Colour <%= f.text_field:colour_id %>	

	<%= f.submit %>
<% end %>