<p id="notice"><%= notice %></p>

<h1>Colours</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colours.each do |colour| %>
      <tr>
        <td><%= colour.name %></td>
        <td><%= colour.description %></td>
        <td><%= link_to 'Show', colour %></td>
        <td><%= link_to 'Edit', edit_colour_path(colour) %></td>
        <td><%= link_to 'Destroy', colour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colour', new_colour_path %>
