<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @colour.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @colour.description %>
</p>

<%= link_to 'Edit', edit_colour_path(@colour) %> |
<%= link_to 'Back', colours_path %>
