1. <% @variabel %> -> ga muncul <br>
2. <%= @variabel %> -> muncul <br>
<br>
<%=link_to 'new', new_product_path %>
<%=link_to 'edit', edit_product_path(1) %>
<%=link_to 'show', product_path(1) %>
<%=link_to 'keluar', destroy_user_session_path , method: :delete %> 

<br>
<% @products.each do |product| %>
<%= product.name %>
<% end %>
